@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.title {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	margin-top: 50px;
}
.products {
	list-style: none;
	padding-left: 0;
	max-width: 600px;
	margin: 50px auto auto;
	border: 2px dashed #ccc;
	padding: 20px;
	box-sizing: border-box;
}

.products li {
	display: flex;
	align-items: center;
	border: solid 2px #d0d0d0;
	border-radius: 0.2em;
	padding: 0.5em 0.8em 0.5em 0.5em;
	margin-bottom: 1em;
	font-family: 'Quicksand', sans-serif;
}

.products li:last-child {
	margin-bottom: 0;
}

.products p {
	max-width: none;
	font-weight: bold;
	margin: 0;
}

.products-thumb {
	overflow: hidden;
	flex-shrink: 0;
	width: 5em;
	height: 5em;
	background-color: #e8e8e8;
	padding: 0.5em;
	margin-right: 0.5em;
}

.products-thumb img {
	display: block;
	width: 100%;
	height: auto;
}
